@-webkit-keyframes ctaMove {
    0% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }

    20% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }

    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}

@keyframes ctaMove {
    0% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }

    20% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }

    70% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scaleX(-3);
                transform: scaleX(-3);
    }

    100% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);

    }
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scaleX(-3);
                transform: scaleX(-3);
    }

    100% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);

    }
}

@-webkit-keyframes rotateIt {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, -60deg);
                transform: rotate3d(0, 1, 0, -60deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 1, 0, 60deg);
                transform: rotate3d(0, 1, 0, 60deg);

    }
}

@keyframes rotateIt {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, -60deg);
                transform: rotate3d(0, 1, 0, -60deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 1, 0, 60deg);
                transform: rotate3d(0, 1, 0, 60deg);

    }
}

@-webkit-keyframes skillGrow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes skillGrow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}