$color-primary: #1BBC9B;
$color-primary-light: #00AB85;
$color-primary-dark: #17A286;
$color-secondary-dark: #FFA22C;

$color-white: #FFFFFF;
$color-white-light: #f3f3f3;
$color-white-gray: #DADFE1;
$color-dark: #29323c;
$color-dark-light: #485563;




$font-light: Quicksand;
$font-regular: Quicksand;
$font-medium: Quicksand;
$font-bold: Quicksand;